.slideShowContainer {
  width: 100vw;
  height: 600px;
}
.imageContainer {
  position: relative;
  width: 100%;
  height: 600px;
}

.slideContainer {
  position: absolute;
  height: 600px;
  width: 100vw;
  left: 200px;
}
