.slideShowContainer {
  width: 100vw;
  height: 600px;
}

.slideContainer {
  height: 600px;
  width: 100vw;
  position: absolute;
  transition: 1s;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
