.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  gap: 16px;
  align-items: center;
}

.link {
  text-decoration: none;
  position: relative;
  height: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 16px;
  border-radius: 12px;
}
.imageContainer {
  position: relative;
  border-radius: 12px 12px 0 0;
  overflow: hidden;

  height: calc((((100vw - 200px) / 6) / 3) * 2);
  /* (total view width / amount of padding total (container + total gap)) / amount of col - 3 * 2) */
  width: 100%;
}

.cardContainer {
  background-color: white;
  border-radius: 12px;
  transition: 0.3s;
}

.cardBottom {
  padding: 16px;
  display: flex;

  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.cardInfoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.title,
.price,
.from {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.priceHeading,
.fromHeading {
  font-size: 14.4px;
  color: grey;
  margin-bottom: 8px;
}

@media (max-width: 1600px) {
  .container {
    grid-template-columns: repeat(5, 1fr);
  }
  .imageContainer {
    height: calc((((100vw - 200px) / 5) / 3) * 2);
    /* (total view width / amount of padding total (container + total gap)) / amount of col - 3 * 2) */
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
  .imageContainer {
    height: calc((((100vw - 184px) / 4) / 3) * 2);
    /* (total view width / amount of padding total (container + total gap)) / amount of col - 3 * 2) */
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
  .imageContainer {
    height: calc((((100vw - 152px) / 3) / 3) * 2);
    /* (total view width / amount of padding total (container + total gap)) / amount of col - 3 * 2) */
    width: 100%;
  }
}

@media (max-width: 778px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .imageContainer {
    height: calc((((100vw - 136px) / 2) / 3) * 2);
    /* (total view width / amount of padding total (container + total gap)) / amount of col - 3 * 2) */
    width: 100%;
  }
}
