.main {
  padding: 32px;
  width: 600px;
}

.title {
  font-size: 28.13px;
}

.welcomeText {
  font-size: 14.4px;
  color: grey;
  margin-top: 8px;
}

.firstNameLable,
.lastNameLable,
.emailLable {
  font-size: 18px;
}

.firstName,
.lastName,
.email {
  border: 1px solid black;
  padding: 12px 16px;
  font-size: 18px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.38);
}
