.main {
  padding: 32px;
}
.title {
  font-size: 28.13px;
}

.table th {
  font-weight: bold;
  background-color: white;
  height: 52px;
}

.table {
  border-collapse: collapse;
}
.table tr:nth-child(odd) {
  background-color: #777;
}
