.main {
  padding: 32px;

  background-color: green;
  display: flex;
  flex-direction: column;
  width: calc(100vw);
}
.title {
  font-size: 28.13px;
}

.table {
  width: 500px;
  margin-top: 32px;
  border-collapse: collapse;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.table th {
  font-weight: bold;
  background-color: white;
  text-align: left;
}

.table thead {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.table td,
.table th {
  padding: 0px 24px;
  height: 52px;
}

.table tbody td:first-child {
  color: blue;
}

.table tr:nth-child(even) {
  background-color: #f3f4f7;
}
