.main {
  padding: 32px;
}
.title {
  font-size: 28.13px;
}

.table th {
  font-weight: bold;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.table td,
.table th {
  height: 52px;
}

.table {
  border-collapse: collapse;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.table tr:nth-child(even) {
  background-color: #777;
}
