.main {
  padding: 32px;
}
.title {
  font-size: 28.13px;
}

th {
  font-weight: bold;
  background-color: #203c87;
  height: 60px;
  color: white;
}
th,
tr,
td {
  text-align: center;
}

.main table {
  border-collapse: collapse;
  border: #eeeeee;
}
tr:nth-child(2),
tr:nth-child(4),
tr:nth-child(6),
tr:nth-child(8),
tr:nth-child(10),
tr:nth-child(12),
tr:nth-child(14) {
  background: #eeeeee;
}

.topTd {
  border-bottom: none;
}
.continueTd {
  border-top: none;
}

.tableHeader {
  margin: 50px 20px 10px;
  color: #203c87;
  font-size: 24px;
}

.tableHeader span {
  font-weight: 200;
}
table {
  margin: 20px;
  width: calc(100% - 40px);
}
