.container {
  display: flex;
  align-items: center;
  max-width: 500px;
  width: 100%;
}
.searchBar {
  height: 44px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px 0 0px 10px;
  border: none;
  width: 100%;
  font-size: 18px;
}

.searchIcon {
  background-color: #ff9e9e;
  border-radius: 0 10px 10px 0;
  color: white;
  font-size: 33px;
  height: 44px;

  padding: 0 10px;
}

@media (max-width: 778px) {
  .container {
    max-width: none;
  }
  .searchBar {
    font-size: 16px;
  }
  .searchIcon {
    font-size: 28px;
  }
}
