.container {
  background-color: var(--primary);
  position: fixed;
  height: 100vh;
}

.infoOverView {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.fullNameOverView {
  color: white;
  font-size: 14.4px;
  font-weight: 500;
}

.emailOverView {
  color: white;
  font-size: 14.4px;
}

.overViewTextContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.linkContainer {
  padding: 16px 0;

  border-top: 1px solid black;
}

.linkContainerBottom {
  border-bottom: 1px solid black;
}

.linkContainer p {
  color: white;
}

.photo {
  width: 70px;
  height: 70px;
  background-color: black;
  border-radius: 50%;
}
