.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.cart,
.summary {
  border: 1px solid grey;
  min-height: calc(100vh - 68px);
}

.title {
  padding: 0 64px;
  margin-top: 64px;
  font-size: 28.13px;
  font-weight: 400;
}

.summaryContent,
.cartContent {
  display: flex;
  flex-direction: column;
  padding: 64px;
  justify-content: center;
  min-height: calc(100vh - 172px);
}

.table {
  width: 100%;

  border-collapse: collapse;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.table th {
  font-weight: bold;
  background-color: white;
  text-align: left;
}

.table thead {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.table td,
.table th {
  font-size: 18px;
  padding: 0px 24px;
  height: 52px;
}

.table {
  height: 100px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.tableContainer {
  margin-top: 32px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: calc(100vh - 201px);
  overflow-y: scroll;
}

@media (max-width: 778px) {
  .table td,
  .table th {
    font-size: 16px;
  }
  .main {
    padding-left: 16px;
    width: calc(100vw - 76px);
  }
}
